/* Folhas de estilo do tema / template do site. */

/* Importa FontAwesome */
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css');

/* 
Variáveis de definições de estilo 
Adicione novas variáveis para facilitar a reestilização
*/

:root {
    --fonte-padrao: 'Arial', sans-serif;
    --tamanho-da-fonte: 16px;
    --cor-do-fundo: #d9b9a5; /* Cor de fundo alterada */
    --cor-link-padrao: #a10000; /* Cor do link alterada */
    --cor-link-hover: #7e0000; /* Cor de hover alterada */
    --cor-texto: #333; /* Cor do texto */
    --cor-primaria: #a10000; /* Cor principal */
    --cor-secundaria: #d9b9a5; /* Cor de fundo */
    --cor-fundo-header-footer: #fefefe; /* Cor de fundo do cabeçalho e rodapé */
}

/* Reset básico */

* {
    box-sizing: border-box;
    outline: none;
    margin: 0;
    padding: 0;
}

html,
body,
#wrap {
    height: 100%;
    width: 100%;
    font-family: var(--fonte-padrao);
    font-size: var(--tamanho-da-fonte);
    background-color: var(--cor-do-fundo);
}

/* Reset dos links */

a {
    color: var(--cor-link-padrao);
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

a:hover {
    color: var(--cor-link-hover);
}

/* Reset dos campos de formulário */

form input,
form button {
    font-family: inherit;
    font-size: inherit;
    padding: .35rem .5rem;
    border: none;
    border-radius: .3rem;
    transition: background-color 0.3s ease-in-out;
}

/* Fundo da página */

body {
    background-color: var(--cor-do-fundo);
}

/* Estrutura da página */

#wrap {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1024px;
    margin: auto;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

/* Cabeçalho → <header> */

header {
    background-color: var(--cor-fundo-header-footer);
    display: flex;
    flex-direction: column;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid #ddd;
    padding: 1rem;
}

header img {
    display: block;
    height: 4rem;
    width: auto;
    margin-bottom: 1rem;
}

header h1 {
    font-size: 1.8rem;
    font-weight: bold;
    color: var(--cor-texto);
    margin: 0;
    margin-bottom: .5rem;
}

header form {
    display: flex;
    background-color: var(--cor-primaria);
    padding: .8rem;
    border-radius: 4px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}

header form input {
    flex-grow: 1;
    padding: .5rem;
    border-radius: .3rem;
    border: 1px solid #ccc;
}

header form button {
    padding: .5rem;
    background-color: #fff;
    border-radius: .3rem;
    cursor: pointer;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

header form button:hover {
    background-color: #ddd;
}

/* Menu principal → <nav> */

nav {
    background-color: var(--cor-primaria);
    display: flex;
    justify-content: flex-end;
    padding: 1rem;
    border-bottom: 1px solid #ddd;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

nav a {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.7rem;
    color: #fff;
    border-radius: .3rem;
    transition: background-color 0.3s ease, color 0.3s ease;
}

nav a:hover {
    background-color: #7e0000;
    color: #fff;
}

nav a:first-child {
    margin-right: auto;
}

nav i {
    font-size: 2rem;
    margin-bottom: .5rem;
}

/* Conteudo central → <main> */

main {
    flex-grow: 1;
    background-color: #fff;
    padding: 2rem 1rem;
    line-height: 1.5;
    border-top: 1px solid #ddd;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin-bottom: 1.5rem;
}

/* Rodapé → <footer> */

footer {
    background-color: var(--cor-fundo-header-footer);
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--cor-texto);
    padding: 1rem 2rem;
    box-shadow: 0 -2px 6px rgba(0, 0, 0, 0.1);
    border-top: 1px solid #ddd;
    border-radius: 8px;
}

footer a {
    color: var(--cor-primaria);
    font-size: 1.8rem;
    padding: .5rem;
    transition: color 0.3s ease;
}

footer a:hover {
    color: var(--cor-link-hover);
}

footer>div {
    font-size: small;
    text-align: center;
}

footer>div div {
    margin-top: .35rem;
}

/* Para larguras de 640px ou mais */
@media screen and (min-width: 640px) {

    header {
        flex-direction: row;
        justify-content: space-between;
    }

    header h1 {
        font-size: 2rem;
    }

    header form {
        padding: 1rem;
    }
}

/* Para larguras de 425px ou mais */
@media screen and (min-width: 425px) {

    nav img {
        height: 1.5rem;
        width: 1.5rem;
    }

    nav i {
        font-size: 1.5rem;
    }

    nav a {
        flex-direction: row;
    }

    nav span {
        margin-left: .5rem;
    }
}
