/* Folhas de estilo do tema / template do site. */

/* Importa FontAwesome */
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css');

/* 
Variáveis de definições de estilo 
Adicione novas variáveis para facilitar a reestilização
*/

:root {
    --fonte-padrao: sans-serif;
    --tamanho-da-fonte: 16px;
    --cor-do-fundo: #ddd;
    --cor-link-padrao: steelblue;
    --cor-link-hover: orangered;
    --imagem-fundo: url('../img/bg01.jpg');
    --largura-maxima-wrap: 1024px;
    --fundo-header: rgb(195, 223, 245);
    --cor-header: rgb(45, 85, 117);
}

/* Reset básico */

* {
    box-sizing: border-box;
    outline: none;
}

html,
body,
#wrap {
    position: relative;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: var(--fonte-padrao);
    /* Tamanho padrão da fonte da página → 1rem */
    font-size: var(--tamanho-da-fonte);
}

/* Reset dos links */

a {
    color: var(--cor-link-padrao);
    text-decoration: none;
}

a:hover {
    color: var(--cor-link-hover);
}

/* Reset dos campos de formulário */

form input,
form button {
    font-family: inherit;
    font-size: inherit;
    padding: .35rem .5rem;
}

/* Fundo da página */

body {
    background-color: var(--cor-do-fundo);
    background-image: var(--imagem-fundo);
    background-repeat: repeat;
    background-position: center;
    background-attachment: fixed;
}

/* Estrutura da página */

#wrap {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: var(--largura-maxima-wrap);
    margin: auto;
}

/* Cabeçalho → <header> */

header {
    background-color: var(--fundo-header);
    display: flex;
    flex-direction: column;
}

header img {
    display: block;
    height: 4rem;
    margin: .5rem;
    width: auto;
}

header div {
    display: flex;
    align-items: center;
}

header h1 {
    font-size: 1.5rem;
    margin: 0;
    color: var(--cor-header);
}

header form {
    background-color: #000;
    padding: 1rem;
    display: flex;
}

header form input {
    flex-grow: 1;
    border: none;
    border-radius: .3rem 0 0 .3rem;
}

header form button {
    border: none;
    border-radius: 0 .3rem .3rem 0;
    background-color: #ddd;
    cursor: pointer;
}

/* Menu principal → <nav> */

nav {
    background-color: orange;
    display: flex;
    border: 2px solid orange;
    justify-content: flex-end;
}

nav img {
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
}

nav i {
    font-size: 2rem;
}

nav a {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: .5rem;
    color: #000;
    border-radius: .3rem;
}

nav a:hover {
    color: orange;
    background-color: #000;
}

nav a:first-child {
    margin-right: auto;
}

nav span {
    margin-top: .5rem;
}

/* Conteudo central → <main> */

main {
    flex-grow: 1;
    background-color: #fff;
    padding: 0 1rem;
    line-height: 1.3;
    border-top: 1px solid #000;
}

/* Rodapé → <footer> */

footer {
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
}

footer a {
    color: orange;
}

footer a:hover {
    color: #b17300;
}

footer>a {
    font-size: 1.8rem;
    padding: .5rem;
}

footer>div {
    font-size: small;
    text-align: center;
}

footer>div div {
    margin-top: .35rem;
}

/* Para larguras de 640px ou mais */
@media screen and (min-width: 640px) {

    header {
        flex-direction: row;
        justify-content: space-between;
        border-bottom: 1px solid #000;
    }

    header form {
        padding: 1.5rem;
    }

}

@media screen and (min-width: 425px) {

    nav img {
        height: 1.5rem;
        width: 1.5rem;
    }

    nav i {
        font-size: 1.5rem;
    }

    nav a {
        flex-direction: row;
    }

    nav span {
        margin-top: 0;
        margin-left: .5rem;
    }
}